<%-include("partials/header", {title: title, nav: nav})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <table class="styled-table table-1">
    <thead>
      <tr>
        <td>Title</td>
        <td>Video URL</td>
        <td>Cover Image</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%-result.title-%></td>
        <td><%-result.video-%></td>
        <td>
            <img src="/images/<%=result.cover%>" alt="Image" width="400rem" height="auto"/>
        </td>
        <td><%-result.date.getDate()-%>-<%-result.date.getMonth()+1-%>-<%-result.date.getFullYear()-%></td>
      </tr>
    </tbody>
  </table>
</div>
<%-include("partials/footer")-%>