<%-include("partials/header", {title: title, nav: nav})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <table class="styled-table table-1">
    <thead>
      <tr>
        <td>Username</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%-result.username-%></td>
        <td><%-result.email-%></td>
        <td><%-result.date.getDate()-%>-<%-result.date.getMonth()+1-%>-<%-result.date.getFullYear()-%></td>
      </tr>
    </tbody>
  </table>
</div>
<%-include("partials/footer")-%>