<div class="sidebar-new">
    <a href="/new/<%=result._id%>" class="sidebar-new-title"> <%-result.title.substring(0,75)-%></a>
    <br>
    <div class="sidebar-new-date">Paylaşılıb: <%-result.date.getDate()-%>-<%-result.date.getMonth()+1-%>-<%-result.date.getFullYear()-%></div>
</div>