<%-include("partials/header", {title: title})-%>
<%-include("partials/navbar")-%>


<div style="display: flex; align-items: flex-start;">
    <div class="general-topic-3">
        
        <div class="general-border">
            <div class="general-title">
                <%-result.title-%>
            </div>
            <img src="/images/<%=result.image%>" alt="Logo" class="general-logo">
            <div class="general-content">
                <%-result.content-%>
            </div>
        </div>
    </div>
    
    <%-include("partials/sidebar")-%>
</div>

<%-include("partials/footer")-%>