<%-include("partials/header", {title: title})-%>
<%-include("partials/navbar")-%>

<div class="general-title" style="margin-top: 2rem;">
    <%-title-%>
</div>
<div class="famouses">
    <%famouses.forEach((elem) => {%>
        <%-include("partials/famous-card", {current: elem})-%>
    <%});%>
</div>

<%-include("partials/footer")-%>