<%-include("partials/header", {title: title})-%>
<%-include("partials/navbar")-%>

<div class="main-about">
    <div class="main-about-content"><%-abouts[0].content.substring(0,300)-%>...</div>
    <a href="/<%=abouts[0].endpoint%>"  class="main-about-read-more">
        Davamını Oxu
    </a>
</div>

<div class="event">
    <div class="event-title">Ən son tədbirlər</div>
    <div class="events">
        <%events.slice(0,3).forEach((elem) => {%>
            <%-include("partials/event-card", {current: elem})-%>
        <%})%>
    </div>
</div>

<div class="new">
    <div class="news-title">Ən son xəbərlər</div>
    <div class="news">
        <%news.slice(0,3).forEach((elem)=>{%>
            <%-include("partials/news-card", {current: elem})-%>
        <%});%>
    </div>
</div>

<div class="about">
    <%abouts.forEach((elem) => { %>
        <%-include("partials/about-card", {current: elem})-%>
    <%});%>
</div>
<%-include("partials/footer")-%>
