<%-include("partials/header", {title: title})-%>
<%-include("partials/navbar")-%>


<div class="general-topic-1">
    <div class="general-title">
        <%-result.title-%>
    </div>
    
    <div class="general-content general-border">
        <%-result.content-%>
    </div>
</div>

<%-include("partials/footer")-%>